@model RestaurantReservation.BL.Entities.Dish
@using RestaurantReservation.WebUI.Constant

<div class="col-sm-4 col-lg-4 col-md-4 text-center dishTileTray">
    <div class="dishTile">
        <div>
            <img class="dishThumbnail" src="@(Url.Content(Constant.DishImagePath) +
                        @Model.DishImageMappings.OrderBy(pim =>
                        pim.ImageNumber).ElementAt(0).DishImage.FileName)">

        </div>
        <div class="detail">
            <h3>
                <strong><a class="dishLink" href="@Url.Action("Detail","Dish",new { id = Model.DishID })">@Model.Name</a></strong>
               
               
            </h3>
            <h4>@Model.StandardPrice</h4>
        </div>
        @using (Html.BeginForm("AddToCart", "Cart", new { id = Model.DishID }))
        {
            <div>
                @Html.HiddenFor(m => m.DishID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn addCart" value="Add to cart" />
            </div>
        }
    </div>
   
</div>
            
                