<div class="pull-left adminButtonTray">
    <a href="@Url.Action("Dish")" class="btn btn-default adminButton">Catalogue</a>
    <a href="@Url.Action("Upload","DishImage")" class="btn btn-default adminButton">Dish Image</a>
    <a href="@Url.Action("Index","Role")" class="btn btn-default adminButton">Manage Roles</a>
    <a href="@Url.Action("Index","User")" class="btn btn-default adminButton">Manage Users</a>
    <a href="@Url.Action("Index","Order")" class="btn btn-default adminButton">Serve List</a>
    <a href="@Url.Action("OrderList","Order")" class="btn btn-default adminButton">Order List</a>

</div>


