@model IEnumerable<RestaurantReservation.BL.Entities.Order>

@{
    ViewBag.Title = "OrderList";
    if (Request.IsAuthenticated && User.IsInRole("Owner"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>OrderList</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>OrderID</th>
            <th>Customer</th>
            <th>DateTime</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("OrderDetails",new { id = item.OrderID })">@item.OrderID </a> </td>
                <td>@item.UserID @item.FirstName @item.LastName</td>
                <td>@item.MealDate.ToShortDateString() @item.MealTime</td>
            </tr>
        }
    </tbody>
</table>

