@model RestaurantReservation.BL.Entities.Order

@{
    ViewBag.Title = "OrderDetails";
    if (Request.IsAuthenticated && User.IsInRole("Owner"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>OrderDetails</h2>
<table class="table table-striped">
    <tbody>
        <tr>
            <td> OrderID</td>
            <td>@Model.OrderID</td>
        </tr>
        <tr>
            <td>Table</td>
            <td>@Model.TableOrdered</td>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>@Model.UserID</td>
        </tr>
        <tr>
            <td>Meal Date</td>
            <td>@Model.MealDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Meal Time</td>
            <td>@Model.MealTime</td>
        </tr>
        <tr>
            <td>Total Price</td>
            <td>@Model.TotalPrice.ToString("c")</td>
        </tr>
        <tr>
            <td>Dish</td>
            <td>
                @foreach (var line in @Model.OrderLines)
                {
                    <p> @line.DishName, @line.DishSize</p>

                }
            </td>
        </tr>
    </tbody>
</table>

